.answered {
  height: 300px;
  width: auto;
  padding: 0px;
  border:1px solid rgb(203, 203, 203);
  box-shadow: 1px 1px rgb(203, 203, 203);
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom:35px ;
  overflow: auto;
}
.totalans{
  text-align: center;
  height:30px;
  width: auto;
  color: white;
  background-color: #343a40 ;
  
}
.totalans p{
  padding-top: 3px;
}
 .ansr{
margin: 15px;

} 

.highlight{
  font-weight:600;
  color: #214e80;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  height:30px;
  border-radius: 0px;
  background: #343a40; 
}

