.profile {
  margin-left: 0%;
  height: 250px;
  width: 100%;
  padding: 15px;
  display: flex;
  border:1px solid rgb(203, 203, 203);
  box-shadow: 1px 1px rgb(203, 203, 203);
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.profile img {
  margin-left: 20x;
  margin-top: 8px;
  height: 200px;
  width: 200px;
  border-radius: 4px;
}
.content .info-1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: 5%;
}

.vals
{
margin:20px;
}
